PORT=3000
DB_CONNECT_STRING=mongodb://localhost:27017/algovia
JWT_KEY=your_jwt_secret_key
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=your_redis_password
GEMINI_KEY=your_google_gemini_api_key
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
JUDGE0_KEY=your_judge0_rapidapi_key
BREVO_API_KEY=your_brevo_api_key
SENDER_EMAIL=your_sender_email@domain.com
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password
FRONTEND_URL=http://localhost:5173
